@import '_normalize';
@import '_fonts';

// font-family: 'Montserrat', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Akrobat', sans-serif;
// font-family: 'Proxima Nova', sans-serif;
// font-family: 'Zona pro', sans-serif;

// * Vars & colors

$PrimaryColor: #FFEA2F;
$Red: #CE0002;
$RedHover: #FE0002;
$RedActive: #A60002;
$Bg: #fafafa;
$White: #fff;
$Black: #000;

$PrimaryTrans: all .2s ease;

// * Common

body {
	font-family: 'Akrobat', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: $Black;

	background-color: $Bg;
}

h1 {
	font-family: 'Zona pro', sans-serif;
	font-size: 72px;
	font-weight: 800;
	line-height: 1.18;
	color: $Black;
	text-transform: uppercase;
}

p {
	font-family: 'Akrobat', sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.2;
	color: $Black;
}

.wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;

	position: relative;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding-left: 84px;
}

.btn {
	display: block;

	background-color: $Red;

	font-family: 'Akrobat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.18;
	color: $White;

	transition: $PrimaryTrans;

	&:hover {
		background-color: $RedHover;
	}

	&:active {
		background-color: $RedActive;
	}
}

//* Header

.header {
	position: fixed;
	right: 0;
	left: 0;

	z-index: 1000;;
	
	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: inline-block;

		flex-shrink: 0;

		width: 135px;
		height: 75px;

		background-image: url(../img/header/logo.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		transition: $PrimaryTrans;

		&:active {
			opacity: 0.8;
		}

	}

	&__links {
		display: flex;
		align-items: center;
	}

	&__nav {}
	
	&__lang {
		width: 120px;
		height: 120px;
		text-transform: uppercase;

	}
}

// * Nav

.nav {
	margin-right: 96px;

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__item {

		&:not(:last-of-type) {
			margin-right: 54px;
		}

		&--active {
			.nav__link {
				color: $RedHover;
			}
		}
	}

	&__link {
		font-family: 'Akrobat', sans-serif;
		font-size: 20px;
		font-weight: 600;
		color: $Black;

		&:hover {
			color: $RedHover;
		}

	}
}

// Social

.social {
	
	z-index: 100;

	display: flex;
	align-items: center;

	&__item {
		margin-bottom: 18px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__link {
		display: block;
		width: 32px;
		height: 32px;

		&--pinterest {
			background-image: url(../img/social/Pintrest.svg);
		}

		&--behance {
			background-image: url(../img/social/Behance.svg);
		}

		&--dribbble {
			background-image: url(../img/social/Dribbble.svg);
		}

		&--snapchat {
			background-image: url(../img/social/Snapchat.svg);
		}

		&--linkedin {
			background-image: url(../img/social/Linkedin.svg);
		}

		&--facebook {
			background-image: url(../img/social/Facebook.svg);
		}
	}

	&--row {
		flex-direction: row;
	}

	&--column {
		flex-direction: column;
	}
}


// * Main

.main {
	flex: 1;
}

// * First

.first {
	padding-top: 169px;

	background-image: linear-gradient(
		to right,
		transparent 18.5%,
		$PrimaryColor 18.5%,
		$PrimaryColor);

	&__container {
		display: flex;
		flex-direction: row;

		position: relative;

		min-height: 773px;

		padding-top: 158px;
	}

	&__info {
		z-index: 1;
	}

	&__title {
		max-width: 1078px;
		margin-bottom: 108px;
	}

	&__subblock {
		display: flex;
		flex-direction: row;
		align-items: center;

		margin-left: 130px;
	}

	&__btn {
		font-size: 22px;
		width: 120px;
		height: 120px;

		padding: 28px 10px 28px 16px;
		margin-right: 66px;

		flex-shrink: 0;

		position: relative;

		&::after {
			content: '';
			display: block;
			width: 90px;
			height: 16px;


			background: url(../img/icons/arrow.svg) center / contain no-repeat;

			position: absolute;
			left: 50%;
			bottom: 18px;

			transform: translateX(-50%);
		}
	}

	&__desc {
		max-width: 460px;
	}

	&__img {
		width: 786px;
		height: 733px;
		position: absolute;
		bottom: 40px;
		right: 40px;
	}

	&__social {
		position: absolute;
		left: 88px;
		bottom: 0;
	}
} 

//? Media queryes 

@media (max-width: 1024px) {

	.wrapper {}

	.container {}

	.header {
	
			&__container {
				padding-left: 46px;
			}
	
			&__logo {}
	
			&__links {}
	
			&__nav {
				display: none;
			}
	
			&__lang {}
	}
	.nav {
	
			&__list {}
	
			&__item {
	
				&--active {}
			}
	
			&__link {}
	}
	.btn {}

	.main {}

	.first {

		background-image: linear-gradient(
			to right,
			transparent 9.5%,
			$PrimaryColor 9.5%,
			$PrimaryColor);
	
			&__container {
				min-height: 1300px;

				padding-top: 16px;
				padding-left: 46px;
			}
	
			&__info {}
	
			&__title {
				margin-bottom: 25px;
				max-width: 860px;
			}
	
			&__subblock {
				margin-left: 0;
			}
	
			&__btn {}
	
			&__desc {}
	
			&__img {
				right: 50px;
				bottom: 42px;
			}

			&__social {
				left: 46px;
				top: 552px;
				bottom: none;
			}
	}
	.social {
	
			&--column {}
	
			&__item {}
	
			&__link {
	
				&--pinterest {}
	
				&--behance {}
	
				&--dribbble {}
	
				&--snapchat {}
	
				&--linkedin {}
	
				&--facebook {}
			}
	}

	.footer {}
}

@media (max-width: 375px) {

	.wrapper {}

	.container {}

	.header {
	
			&__container {
				// padding-left: 46px;
			}
	
			&__logo {}
	
			&__links {}
	
			&__nav {
				// display: none;
			}
	
			&__lang {
				width: 98px;
				height: 98px;
			}
	}
	.nav {
	
			&__list {}
	
			&__item {
	
				&--active {}
			}
	
			&__link {}
	}
	.btn {}

	.main {}

	.first {

		padding-top: 130px;

		background-image: linear-gradient(
			to right,
			transparent 18.5%,
			$PrimaryColor 18.5%,
			$PrimaryColor);
	
			&__container {
				// min-height: 1300px;

				// padding-top: 16px;
				padding-left: 14px;
			}
	
			&__info {}
	
			&__title {
				font-size: 32px;

				// margin-bottom: 25px;
				// max-width: 860px;
			}
	
			&__subblock {
				// margin-left: 0;
			}
	
			&__btn {}
	
			&__desc {
				font-size: 16px;
			}
	
			&__img {
				// right: 50px;
				// bottom: 42px;
			}

			&__social {
				// left: 46px;
				// top: 552px;
				// bottom: none;
			}
	}
	.social {
	
			&--column {}
	
			&__item {}
	
			&__link {
	
				&--pinterest {}
	
				&--behance {}
	
				&--dribbble {}
	
				&--snapchat {}
	
				&--linkedin {}
	
				&--facebook {}
			}
	}

	.footer {}
}